           
<div *ngIf="!isLoading && !isError">
    <div *ngFor="let genres of showCategorizedList">
        <div *ngIf="genres.shows.length>0" >
            <div class="row d-flex justify-content-md-start">
                <div class="col-md-5">
                    <h2 class="pt-md-5 pt-sm-5">
                        List of {{genres.genre}} Shows
                    </h2>
                </div>    
            </div>
            <div class="row d-flex justify-content-md-start">
                <div *ngFor="let show of genres.shows" class="col-md-3 mt-md-2">
                    <mat-card routerLink="/showDetails/{{ show?.id }}" class="mt-1">    
                        <img mat-card-image src="{{show?.image?.medium}}" alt="Photo of {{show?.name}}">
                        <mat-card-content>
                            <h3>{{show?.name}}</h3>
                        </mat-card-content>
                        <mat-card-actions class="row d-flex align-items-md-baseline background-shade">   
                            <div class="col-6">
                                <span >&#9734;</span>
                                <span >{{show?.rating?.average}}</span>
                            </div>
                            <div class="col-6">    
                                <button mat-button routerLink="/showDetails/{{ show?.id }}">Details</button>
                            </div>
                        </mat-card-actions>
                    </mat-card> 
               
                    
                </div>
                
            </div>
        </div>
                     
    </div>
    
    
</div>
<div *ngIf="isError" class="row d-flex justify-content-md-around p-5">
    <app-show-error></app-show-error>
</div>
<div *ngIf="isLoading" class="row d-flex justify-content-md-around p-5">
    <mat-spinner></mat-spinner>
</div>